<% include partials/header %>

<h1><%= title %></h1>
<blockquote>
  999 alerting iVMS for assistance when an emergency calls is received by 999
</blockquote>
<a href="/alert/new" class="waves-effect waves-light btn">Raise an Alert Now</a>

<% include partials/footer %>
