<% include partials/header %>

<h1><%= title %></h1>
<blockquote>
  999 alerting iVMS for assistance when an emergency calls is received by 999
</blockquote>
<a href="/alert" class="waves-effect waves-light btn">View All Alerts</a>

<% include partials/footer %>
